<div class="container">
  <h3>Novo Mandato</h3>
  <br/>
  <%= form_for :term, url: board_terms_path do |r| %>
    <div>
      <%= r.label :user_id %><br>
      <%= r.number_field :user_id %>
    </div>

    <div>
      <%= r.label :role_id %><br>
      <%= r.select(:role_id, options_for_select(@roles)) %>
    </div>

    <div>
      <%= r.label :department_id %><br>
      <%= r.select(:department_id, options_for_select(@departments)) %>
    </div>

    <div>
      <%= r.submit 'Criar Novo Mandato' %>
    </div>
  <% end %>
</div>
