<%= render partial: 'jobs/jobs_breadcrumb' %>
<div class="divide40">
</div>
<div class="filters">
  <%= render partial: "shared/filter/filter" %>
</div>
<div class="container">
  <% if can_create? %>
    <%= link_to 'Criar Oferta', new_job_path, class: "btn btn-lg border-theme" %>
<% end %>
<div class="divide60">
</div>
<div class="jobs-container" id="jobs">
  <div class="blog-left-img">
    <% if @jobs.empty?
 %>
    <h4>Sem oportunidades de emprego de momento.</h4>
    <br />
  <% end %> 
    <% @jobs.each do |job| %>
  <div class="job-container">
    <%= render partial: "shared/job/index", locals: { job: job } %>
    <div class="divide20">
    </div>
  </div>
<% end %>
  <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
</div>
</div>
