<div class="container">
  <% if @terms != nil then %>
    <h2><%= "#{@department.title} - #{@terms.first.board.start_date.year}/#{@terms.first.board.start_date.year + 1}" %></h2>
  <% else %>
    <h2><%= @department.title %></h2>
  <% end %>
  <hr/>

  <% if @department.terms.empty? %>
    <p>Nenhum membro fez parte deste departamento.</p>
  <% else %>
    <ul>
      <% if @terms != nil then %>
        <% @terms.each do |term| %>
          <li>
            <%= link_to term.user.name, user_path(term.user) %>
            <%= " - #{term.role.title}" %>
          </li>
        <% end %>
      <% else %>
        <% @department.terms.each do |term| %>
          <li>
            <%= link_to term.user.name, user_path(term.user) %>
            <%= " - #{term.role.title}
            [#{term.board.start_date.year}/#{term.board.start_date.year + 1}]" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <hr/>

  <% if @terms != nil %>
    <%= link_to 'Voltar', board_path(@board) %>
  <% else %>
    <%= link_to 'Voltar', departments_path  %>
    <%= link_to 'Apagar', department_path(@department), method: :delete,
      data: { confirm: "Tem a certeza que quer apagar este departamento?" } %>
  <% end %>
</div>
