<% content_for :head do%>
<meta content="<%= image_url("cesium-thumb.png") %>" property="og:image" />
<meta content="Contacto" property="og:title" />
<meta content="CeSIUM" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="https://cesium.di.uminho.pt/contact" property="og:url" />
<meta content="O CeSIUM é um Centro de estudantes de Engenharia Informática da Universidade do Minho composto por alunos voluntários que têm como objectivo principal representar e promover o curso. É um núcleo unido e dinâmico capaz de proporcionar experiências únicas e enriquecedoras para a tua futura vida profissional." property="og:description" />
<% end %>
<%= render partial: "shared/map" %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-offset-1 margin30 sky-form-columns contact-sky-option">
      <div class="row">
        <div class="col-md-12">
          <div class="center-heading">
            <h2>Contactos</h2>
            <span class="center-line">
            </span>
            <p>
            </p>
          </div>
        </div>
      </div>
      <!--center heading row-->
      <div class="row margin10">
        <div class="col-md-4 margin30">
          <div class="contact-option-circle">
            <i class="fa fa-home">
            </i>
            <p>
              Departamento de Informática - Sala 1.11
              <br />
              Campus de Gualtar
              <br />
              4710-057 Braga
            </p>
          </div>
        </div>
        <div class="col-md-4 margin30">
          <div class="contact-option-circle">
            <i class="fa fa-phone">
            </i>
            <p class="contact-center">
              +351 253 604 448
            </p>
          </div>
        </div>
        <div class="col-md-4 margin30">
          <div class="contact-option-circle">
            <i class="fa fa-envelope">
            </i>
            <p class="contact-center">
              cesium@di.uminho.pt
            </p>
          </div>
        </div>
      </div>
      <div class="row margin20">
        <div class="col-md-12 text-center">
          <ul class="list-inline">
            <li>
              <%= link_to 'https://www.facebook.com/cesiuminho', class: 'social-icon-lg si-border si-facebook' do %>
                <i class = "fab fa-facebook-f">
                </i> 
                <i class = "fab fa-facebook-f">
                </i>
              <%end%>
            </li>
            <li>
              <%= link_to 'https://twitter.com/cesiuminho', class: 'social-icon-lg si-border si-twitter' do %>
                <i class = "fab fa-twitter">
                </i> 
                <i class = "fab fa-twitter">
                </i>
              <%end%>
            </li>
            <li>
              <%= link_to 'https://www.instagram.com/cesiuminho', class: 'social-icon-lg si-border si-instagram' do %>
                <i class = "fab fa-instagram">
                </i> 
                <i class = "fab fa-instagram">
                </i>
              <%end%>
            </li> 
            <li>
              <%= link_to 'https://github.com/orgs/cesium', class: 'social-icon-lg si-border si-github' do %>
                <i class = "fab fa-github">
                </i> 
                <i class = "fab fa-github">
                </i>
              <%end%>
            </li>
          </ul>
        </div>
      </div>
      <p class="margin30">
        Entra em contacto connosco!
      </p>
      <form action="mailto:cesium@di.uminho.pt" class="sky-form sky-form-columns" enctype="text/plain" id="sky-form" method="post">
        <fieldset>
          <div class="row">
            <section class="col col-6">
              <label class="label">Nome</label>
              <label class="input">
                <i class="icon-append fa fa-user">
                </i><input id="name" name="name" type="text" />
              </label></section>
            <section class="col col-6">
              <label class="label">E-mail</label>
              <label class="input">
                <i class="icon-append fa fa-envelope-o">
                </i><input id="email" name="email" type="email" />
              </label></section>
          </div>
          <section>
            <label class="label">Assunto</label>
            <label class="input">
              <i class="icon-append fa fa-tag">
              </i><input id="subject" name="subject" type="text" />
            </label></section>
          <section>
            <label class="label">Mensagem</label>
            <label class="textarea">
              <i class="icon-append fa fa-comment">
              </i>
              <textarea id="message" name="message" rows="4">
              </textarea>
            </label>
          </section>
        </fieldset>
        <footer>
          <button class="btn btn-theme-bg btn-lg" type="submit"> Enviar</button>
        </footer>
        <div class="message">
          <i class="fa fa-check">
          </i>
          <p>Your message was successfully sent!
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="divide40">
</div>