<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>log/cesium</h4>
      </div>
      <div class="col-sm-6 hidden-xs text-right">
        <ol class="breadcrumb">
          <li>
            <%= link_to 'Home', root_path %>
          </li>
          <li class="active">log/
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="divide80">
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-post">
        <a href="#">
        </a>
        <div class="item-img-wrap">
          <%= image_tag('banner.png', class: 'img-responsive', alt: 'news') %>
          <div class="item-img-overlay">
            <span>
            </span></div>
        </div>
        <!--work link-->
        <ul class="list-inline post-detail">
          <li>
            by
            <a href="#"> assan</a>
          </li>
          <li>
            <i class="far fa-calendar">
            </i>31st july 2014
          </li>
          <li>
            <i class="fas fa-tag">
            </i><a href="#"> Sports</a>
          </li>
          <li>
            <i class="fas fa-comment">
            </i><a href="#"> 6 Comments</a>
          </li>
        </ul>
        <h2>
          <a href="#"> Lorem ipsum dollor sit amet</a>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        </p>
        <p>
          <a class="btn btn-theme-dark" href="blog-single.html"> Read More...
          </a>
        </p>
      </div>
      <div class="blog-post">
        <a href="#">
        </a>
        <div class="item-img-wrap">
          <%= image_tag('banner.png', class: 'img-responsive', alt: 'news') %>
          <div class="item-img-overlay">
            <span>
            </span></div>
        </div>
        <!--work link-->
        <ul class="list-inline post-detail">
          <li>
            by
            <a href="#"> assan</a>
          </li>
          <li>
            <i class="far fa-calendar">
            </i>31st july 2014
          </li>
          <li>
            <i class="fas fa-tag">
            </i><a href="#"> Sports</a>
          </li>
          <li>
            <i class="fas fa-comment">
            </i><a href="#"> 6 Comments</a>
          </li>
        </ul>
        <h2>
          <a href="#"> Lorem ipsum dollor sit amet</a>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        </p>
        <p>
          <a class="btn btn-theme-dark" href="blog-single.html"> Read More...
          </a>
        </p>
      </div>
      <div class="blog-post">
        <a href="#">
        </a>
        <div class="item-img-wrap">
          <%= image_tag('banner.png', class: 'img-responsive', alt: 'news') %>
          <div class="item-img-overlay">
            <span>
            </span></div>
        </div>
        <!--work link-->
        <ul class="list-inline post-detail">
          <li>
            by
            <a href="#"> assan</a>
          </li>
          <li>
            <i class="far fa-calendar">
            </i>31st july 2014
          </li>
          <li>
            <i class="fas fa-tag">
            </i><a href="#"> Sports</a>
          </li>
          <li>
            <i class="fas fa-comment">
            </i><a href="#"> 6 Comments</a>
          </li>
        </ul>
        <h2>
          <a href="#"> Lorem ipsum dollor sit amet</a>
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
        </p>
        <p>
          <a class="btn btn-theme-dark" href="blog-single.html"> Read More...
          </a>
        </p>
      </div>
      <ul class="pager">
        <li class="previous">
          <a href="#"> ← Página Anterior</a>
        </li>
        <li class="next">
          <a href="#"> Página Seguinte →
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <div class="sidebar-box margin40">
        <h4>Pesquisa</h4>
        <form class="search-widget" role="form">
          <input class="form-control" type="text" />
          <i class="fa fa-search">
          </i></form>
      </div>
      <div class="sidebar-box margin40">
        <h4>O log/CeSIUM</h4>
        <p>
          O log/CeSIUM é uma revista blog criada pelo CeSIUM que tem como objectivo levar a toda a comunidade estudantil um pouco do espírito vivido dentro do curso. O log/CeSIUM marcará presença com edições mensais, onde dará destaque às principais notícias do mundo da informática e onde poderão encontrar artigos sobre os mais variados eventos em que os alunos do curso participam.
        </p>
      </div>
      <div class="sidebar-box margin40">
        <h4>logs/ Populares</h4>
        <ul class="list-unstyled popular-post">
          <li>
            <div class="popular-img">
              <a href="#">
                <%= image_tag('banner.png', class: 'img-responsive', alt: 'news') %>
              </a></div>
            <div class="popular-desc">
              <h5>
                <a href="#"> blog post image</a>
              </h5>
              <h6>31st july 2014</h6>
            </div>
          </li>
          <li>
            <div class="popular-img">
              <a href="#">
                <%= image_tag('banner.png', class: 'img-responsive', alt: 'news') %>
              </a></div>
            <div class="popular-desc">
              <h5>
                <a href="#"> blog post image</a>
              </h5>
              <h6>31st july 2014
              </h6>
            </div>
          </li>
        </ul>
      </div>
      <div class="sidebar-box margin40 results-sidebar-box">
        <h4>log/ em revista</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#"> LOG/7</a>
          </li>
          <li>
            <a href="#"> LOG/6</a>
          </li>
          <li>
            <a href="#"> LOG/5</a>
          </li>
        </ul>
        <span class="view-all">
          <a href="#"> Ver todos
          </a>
        </span></div>
      <div class="sidebar-box margin40">
        <h4>Categorias</h4>
        <ul class="list-unstyled cat-list">
          <li>
            <a href="#"> Marketing</a>
            <i class="fa fa-angle-right">
            </i></li>
          <li>
            <a href="#"> Videos</a>
            <i class="fa fa-angle-right">
            </i></li>
          <li>
            <a href="#"> Sports</a>
            <i class="fa fa-angle-right">
            </i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="divide60">
</div>
<section class="cta-1">
  <div class="container">
    <h1>Já viste todas as edições do log/ que temos?</h1>
    <a class="btn border-white btn-lg" href="#"> Vê aqui</a>
  </div>
</section>


