<div class="top-bar-dark">
  <div class="container hidden-xs">
    <div class="row">
      <div class="col-sm-8 text-left">
        <ul class="list-inline top-dark-right">
          <% if signed_in? %>
            <li>
              <%= link_to '' %> 
                <%= icon('user') %>
                  A Minha Conta
            </li>
            <li>
              <%= link_to sign_out_path, method: :delete %>
                <%= icon('sign-out') %>
                  Sair
            </li>
          <% else %>
            <li>
              <%= link_to sign_in_path %>
                <%= icon('sign-in') %>
                  Entrar
            </li>
            <li>
              <%= link_to sign_up_path %>
                <%= icon('user-plus') %>
                  Registar
            </li>
          <% end %>
             
        </ul>
      </div>
  <div class="col-sm-4">
    <div class="top-bar-socials">
      <%= link_to 'https://www.facebook.com/cesiuminho', class: 'social-icon-sm si-gray si-soundcloud' %>
      <i class="fab fa-facebook-f" ></i>
      <i class="fab fa-facebook-f" ></i>

      <%=  link_to 'https://twitter.com/cesiuminho', class: 'social-icon-sm si-gray si-soundcloud' %>
        <i class="fab fa-twitter" ></i>
        <i class="fab fa-twitter" ></i>
      <%= link_to 'https://plus.google.com/u/1/b/103218725392069843585/103218725392069843585/posts', class: 'social-icon-sm si-gray si-soundcloud' %>
        <i class="fab fa-google-plus-g" ></i>
        <i class="fab fa-google-plus-g" ></i>
      <%= link_to 'https://www.instagram.com/cesiuminho', class: 'social-icon-sm si-gray si-soundcloud' %>
        <i class="fab fa-instagram" ></i>
        <i class="fab fa-instagram" ></i>
      <%= link_to 'https://github.com/orgs/cesium', class: 'social-icon-sm si-gray si-soundcloud' %>
        <i class="fab fa-github" ></i>
        <i class="fab fa-github" ></i>

    </div>
  </div>
</div>
</div>
</div>
