<%= form_for :board, url: boards_path do |b| %>
  <p>
    <%= b.label :year %><br>
    <%= b.text_field :year %>
  </p>

  <p>
    <%= b.label :start %><br>
    <%= b.datetime_field :start %>
  </p>

  <p>
    <%= b.submit %>
  </p>
<% end %>
