<div class="container">
  <h3>Direção <%= @board.start_date.year %>/<%= @board.start_date.year + 1%></h3>
  <hr/>
  <h4>Membros</h4>
  <ul>
    <% if @board.terms.empty? %>
      <p>Não existem mandatos para esta direção.</p>
    <% else %>
      <% @board.terms.each do |term| %>
        <li>
          <%= link_to term.user.name, user_path(term.user) %>
          <%= " - #{term.role.title} @ " %>
          <%= link_to term.department.title, board_department_path(@board, term.department) %>
          (
          <%= link_to 'Remover Mandato', board_term_path(@board, term),
            method: :delete, data: { confirm: 'Tem a certeza?' }%>
          )
        </li>
      <% end %>
    <% end %>
  </ul>
    <%= link_to "Voltar", boards_path , class: "btn grey lighten-5 black-text" %>
    <%= link_to "Apagar", board_path(@board), class: "btn red",
      method: :delete, data: {confirm: "Pederá todos os dados desta direção. Tem a certeza?"} %>
    <%= link_to "Novo Mandato", new_board_term_path(@board), class: "btn" %>
</div>
