<h2>Direção <%= @board.year %>/<%= @board.year + 1%></h2>
<hr/>
<ul>
  <% @board.terms.each do |term| %>
    <li>
      <%= User.find(term.user_id).name %>
    </li>
  <% end %>
</ul>
<%= link_to "Voltar", boards_path %>
<%= link_to 'Apagar', board_path(@board),
  method: :delete, data: { confirm: "Pederá todos os dados desta direção. Tem a certeza?" } %>
